.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
    height: 20%;
  }

.seperator {
    height: 100%;
    width: 1px;
    background: black;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
  }