{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">Login Here</h3>
            <form action="/login" method="POST">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" value="{{email}}" name="email" id="" class="form-control form-control-sm"
                        placeholder="example@gmail.com" aria-describedby="helpId">
                </div>
                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm"
                        placeholder="*********" aria-describedby="helpId">
                </div>

                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Login" aria-describedby="helpId">
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}